/*  your css code here. If applicable */
#circle-6{
	display:flex;
	align-items:center;
	justify-content:center;
	width:300px;
	height:300px;
	border-radius:50%;
	background:#ff0000;
}
#circle-5{
	display:flex;
	align-items:center;
	justify-content:center;
	width:250px;
	height:250px;
	border-radius:50%;
	background:#ffa500;
}
#circle-4{
	display:flex;
	align-items:center;
	justify-content:center;
	width:200px;
	height:200px;
	border-radius:50%;
	background:#ffff00;
}
#circle-3{
	display:flex;
	align-items:center;
	justify-content:center;
	width:150px;
	height:150px;
	border-radius:50%;
	background:#008000;
}
#circle-2{
	display:flex;
	align-items:center;
	justify-content:center;
	width:100px;
	height:100px;
	border-radius:50%;
	background:#0000ff;
}
#circle-1{
	width:50px;
	height:50px;
	border-radius:50%;
	background:#800080;
}